* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Novecento WideUltraLight';
  letter-spacing: 2px;
}
@font-face {
  font-family: 'Novecento WideUltraLight';
  src: url(fonts/Novecento\ WideUltraLight.otf);
}

.logo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  height: auto;
  cursor: pointer;


}

.logo img {
  width: 50%;
}

p {
  margin: 10px 0;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 16px;
}



/* NAV */

.nav {
  text-align: center;
  background-color: #C20E50;
  display: block;
  padding: 3vh;
}

.nav a {
  padding: 15px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;

}

.nav a:hover {
  color: black;
}

@media only screen and (max-width: 1090px) {

  .nav {
    overflow: hidden;
    background-color: #C20E50;
    position: relative;
  }
  
  .nav #myLinks {
    display: none;
  }
  
  .nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .nav a.icon {
    background: #C20E50;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .nav a:hover {
    color: black;
  }
  

  nav{
    flex-direction: column;

  }
}








.section_popis {
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  height: auto;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
}

.section_popis h1 {
  text-align: center;
  padding-bottom: 10px;
}

.section_partneri {
  display: block;
  text-align: center;
  background-color: #C20E50;
  color: white;
  height: 20vh;
  padding-top: 30px;
  padding-bottom: 10px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;

}

footer h1{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
}

footer p{
  font-size: 25px;
}

img{
  display: inline-block;
}

.kontakt {
  padding: 10px;
  display: flex; 
  align-items: center;
  gap: 10px;
  max-width: 100%;
  height: auto;
}

.social_media {
  justify-content: space-between;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
  height: auto;
  gap: 10px;
}

