* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Novecento WideUltraLight';
  letter-spacing: 2px;
}
@font-face {
  font-family: 'Novecento WideUltraLight';
  src: url(fonts/Novecento\ WideUltraLight.otf);
}

.logo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.logo img {
  width: 50%;
}

p {
  margin: 10px 0;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 16px;
}



/* NAV */

nav {
  text-align: center;
  background-color: #C20E50;
  display: block;
  padding: 20px;
}


nav ul li  {
  display: inline-block;
}

nav li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;

}

nav li a:hover {
  color: rgb(51, 248, 255);

}



@media only screen and (max-width: 1090px) {

  .section_popis{
    padding-left: 10%;
    padding-right: 50%;
  }

  footer{
    flex-direction: column;

  }
}







.section_popis {
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  height: auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.section_popis h1 {
  text-align: center;
  padding-bottom: 10px;
}

.section_partneri {
  display: block;
  text-align: center;
  background-color: #C20E50;
  color: white;
  height: 30vh;
  padding-top: 30px;
  padding-bottom: 10px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;

}

footer h1{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
}

footer p{
  font-size: 25px;
}

img{
  display: inline-block;
}

.kontakt {
  padding: 10px;
  display: flex; 
  align-items: center;
  gap: 10px;
  max-width: 100%;
  height: auto;
}

.social_media {
  justify-content: space-between;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
  height: auto;
  gap: 10px;
}

