* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Novecento WideUltraLight';
  letter-spacing: 2px;
}
@font-face {
  font-family: 'Novecento WideUltraLight';
  src: url(fonts/Novecento\ WideUltraLight.otf);
}

/* @font-face{;
  font-family: 'Novecento WideUltraLight';
  src: url(fonts/Novecento\ WideUltraLight.otf);
} */

.logo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.logo img {
  width: 50%;
}

nav {
  text-align: center;
  background-color: #C20E50;
}

nav ul li  {
  display: inline-block;
}

nav li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;

}


nav li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.section_popis {
  padding-top: 30px;
  padding-left: 20%;
  padding-right: 20%;
  background-color: white;
  height: auto;
}

.section_popis h1 {
  text-align: center;
  padding-bottom: 10px;
}

.section_partneri {
  display: block;
  text-align: center;
  background-color: #C20E50;
  color: white;
  height: 30vh;
  padding-top: 30px;
  padding-bottom: 10px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;

}

footer h1{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
}

footer p{
  font-size: 25px;
}

img{
  display: inline-block;
}

.kontakt {
  padding: 10px;
  display: flex; 
  align-items: center;
  gap: 10px;
  max-width: 100%;
  height: auto;
}

.social_media {
  justify-content: space-between;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

